<% layout("/layouts/boilerplate.ejs") %>
<body>
    <div class="row">
        <div class="col-8 offset-2"><br> <br>
        <h3 >Create new listing</h3>
        <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
                <lable for="title" class="form-lable">Title</lable>
                <input name="listing[title]" placeholder="Discover your dream place..." type="text" class="form-control" required>
                <div class="valid-feedback">title looks good!</div>
                <div class="invalid-feedback">please enter a valid title!</div>
            </div>
            <div class="mb-3">
                <lable for="description" class="form-lable">Description</lable>
                <textarea name="listing[description]" placeholder="Share the beauty of this place..." type="text" class="form-control" required></textarea>
                <div class="valid-feedback">nice description!</div>
                <div class="invalid-feedback">please enter a short description!</div>
            </div>
            <!-- <div class="mb-3">
                <lable for="image" class="form-lable">Image Link</lable>
                <input name="listing[image]" placeholder="enter image URL/Link" type="text" class="form-control">
            </div> -->
            <div class="mb-3">
                <lable for="image" class="form-lable">Upload Image</lable>
                <input name="listing[image]"  type="file" class="form-control">
                required
            </div>

            <div class="row">
                <div class="mb-3 col-md-4">
                    <lable for="price" class="form-lable ">Price</lable>
                    <input name="listing[price]" placeholder="Set your price (Ex- 1800)" type="number" class="form-control" required>
                    <div class="valid-feedback">price is valid!</div>
                    <div class="invalid-feedback">price should be valid!</div>
                </div>
                
                <div class="mb-3 col-md-8">
                    <lable for="country" class="form-lable">country</lable>
                    <input name="listing[country]" placeholder="Enter dream destination country"type="text" class="form-control" required>
                    <div class="valid-feedback">beautiful country!</div>
                    <div class="invalid-feedback">enter a valid country name!</div>
                </div>
            </div>
            <div class="mb-3"> 
                    <lable for="location" class="form-lable">Location</lable>
                    <input name="listing[location]" placeholder="Enter dream spot location (Ex- jaipur, Rajasthan)"type="text" class="form-control" required>
                    <div class="valid-feedback">nice place!</div>
                    <div class="invalid-feedback">location should be valid!</div>
            </div>
        <br>
        <br>
        <button class="btn btn-gold  mb-3">Add listing</button>
        <br> <br>
    </form>
    </div>
</div>
</body>
